.dv-sa20 {
    margin-bottom: $separation-height;
}

.posts-mas-vistos {
    h3 {
        font-weight: bold;
    }
    .caption {
        padding: 0px;
    }
    .post-1 {
        padding-right: $padding-custom;
    }
    .post-2 {
        padding-left: $padding-custom;
    }
    .thumbnail {
        border: none;
    }
}

.posts-ultimos {
    h3 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    img {
        width: 350px;
    }
}

.posts-relacionados {
    h3 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    img {
        width: 350px;
    }
}

.encuesta {
    p {
        font-weight: bold;
    }
}

#ngProgress {
    background-color: $color-default !important;
}

.btn-link {
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}

.hr-footer {
    height: 1px;
    background-color: $gray-light;
}

.img-sn-link-md {
    width: 30px;
}

.footer {
    margin: 15px 0;
    font-size: 85%;
    .container {
        margin-bottom: 25px;
    }
}

.btn-default {
    border-color: $color-primary;
}

.post {
    font-size: 15px;
    letter-spacing: 1px;
    header {
        h1 {
            font-weight: bold;
        }
        margin-bottom: $line-height-computed-costum;
    }
    .portada {
        margin-bottom: $line-height-computed-costum;
    }
    a {
        color: darken($color-default, 15%);
    }
    .datos {
        font-size: 13px;
        color: lighten($color-black, 45%);
        margin-bottom: $line-height-computed-costum;
        img, a, span {
            margin-right: 4px;
            margin-left: 4px;
        }
    }
    h4 {
        font-weight: bold;
    }
}

.navbar-brand {
    padding: 10px $navbar-padding-horizontal;
}

.not-visible {
    visibility: hidden;
}