$color-default: #50b7dc;
$color-primary: #00FB70;
$color-secondary: #630402;
$color-white: #ffffff;
$color-black: #000000;

$custom-font-size: 13px;
$carousel-indicators-bottom: -40px;
$carousel-indicators-size: 15px;
$separation-height: 15px;

$line-height-computed-costum: 15px;
$padding-custom: 10px;

// hover.css color
$activeColor: $color-primary;