<div class="jumbotron">
    <div class="row">
        <div class="col-sm-3">
            <img class="img-responsive" ng-src="images/logo.png" alt="Logo">
        </div>
        <div class="col-sm-9">
            <h1>Sácate 20 en Programación</h1>
            <small>El Blog de Programación donde aprenderàs a desarrollar aplicaciones en Javascript, CSS, HTML5, Angular, Java, Visual Basic, y mucho más.</small>
        </div>
    </div>
</div>
<div class="row dv-sa20">
    <div class="col-sm-8 slider">
        <div uib-carousel interval="myInterval" no-wrap="noWrapSlides" active="0">
            <div uib-slide ng-repeat="post in posts track by post.id" index="posts.indexOf(post)">
                <img class="img-slider" ng-src="{{ post.imagen }}">
            </div>
        </div>
    </div>
    <div class="col-sm-4 ads">
        <div>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- sa20Inicio -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-5045203329560016"
                 data-ad-slot="1160745185"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
<div class="row dv-sa20">
    <div class="col-sm-8">
        <h2>Lo más visto</h2>
        <hr>
        <div class="row posts-mas-vistos">
            <div class="col-sm-6 post-1">
                <div class="thumbnail">
                    <img src="http://lorempixel.com/1400/680/" alt="...">
                    <div class="caption">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cr</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida nulla quam, tempor accumsan dolor venenatis eget. Morbi dictum consequat orci, vitae ultrices erat vehicula sit amet. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et elit massa. Nullam risus orci</p>
                        <p>
                            <a href="#" class="btn btn-link pull-right hvr-underline-from-left" role="button">Leer más</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 post-2">
                <div class="thumbnail">
                    <img src="http://lorempixel.com/1400/680/" alt="...">
                    <div class="caption">
                        <h3>Lorem ipsum dolor</h3>
                        <p>Lorem ipsum dolor sit amet, dolor venenatis eget. Morbi dictum consequat orci, vitae ultrices erat vehicula sit amet. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et elit massa. Nullam risus orci</p>
                        <p>
                            <a href="#" class="btn btn-link pull-right hvr-underline-from-left" role="button">Leer más</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <h2>Síguenos en Facebook</h2>
        <hr>
        <div class="fb-page" data-href="https://www.facebook.com/S&#xe1;cate-20-en-Programaci&#xf3;n-222720791071792/" data-tabs="timeline" data-height="416" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/S&#xe1;cate-20-en-Programaci&#xf3;n-222720791071792/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/S&#xe1;cate-20-en-Programaci&#xf3;n-222720791071792/">Sácate 20 en Programación</a></blockquote></div>
    </div>
</div>
<div class="dv-sa20">
    <div class="col-sm-8">
        <h2>Últimos Posts</h2>
        <hr>
        <div class="posts-ultimos">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="http://lorempixel.com/1400/680/" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget. Morbi dictum consequat orci, vitae ultrices erat vehicula sit amet. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et elit massa. Nullam risus orci</p>
                    <p>
                        <a href="#" class="btn btn-link pull-right hvr-underline-from-left" role="button">Leer más</a>
                    </p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="http://lorempixel.com/1400/680/" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cr</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. dolor venenatis eget. Morbi dictum consequat orci, vitae ultrices erat vehicula sit amet. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et elit massa. Nullam risus orci</p>
                    <p>
                        <a href="#" class="btn btn-link pull-right hvr-underline-from-left" role="button">Leer más</a>
                    </p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="http://lorempixel.com/1400/680/" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3>Lorem ipsum dolor sit amet, consectetur elit. Cr</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida nulla quam, tempor accumsan dolor venenatis eget. Morbi dictum consequat orci, vitae ultrices erat vehicula sit amet. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et elit massa. Nullam risus orci</p>
                    <p>
                        <a href="#" class="btn btn-link pull-right hvr-underline-from-left" role="button">Leer más</a>
                    </p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="http://lorempixel.com/1400/680/" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cr</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida nulla quam, tempor accumsan dolor venenatis eget. Morbi dictum consequat orci, vitae ultrices erat vehicula sit amet. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et elit massa. Nullam risus orci</p>
                    <p>
                        <a href="#" class="btn btn-link pull-right hvr-underline-from-left" role="button">Leer más</a>
                    </p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img src="http://lorempixel.com/1400/680/" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cr</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras gravida nulla quam, tempor accumsan dolor venenatis eget. Morbi dictum consequat orci, vitae ultrices erat vehicula sit amet. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et elit massa. Nullam risus orci</p>
                    <p>
                        <a href="#" class="btn btn-link pull-right hvr-underline-from-left" role="button">Leer más</a>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <a ui-sref="postsAll" class="btn btn-default center-block">Ver todos los Posts</a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="about">
            <h2>Acerca de</h2>
            <hr>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis diam id ipsum condimentum euismod. Aenean imperdiet, neque nec rhoncus consequat, massa erat suscipit leo, eu commodo arcu ex vel nunc. Integer purus sapien, accumsan eu urna pharetra, ultrices hendrerit ex. Suspendisse dui neque, tincidunt id mollis porttitor, viverra id ex. In hac habitasse platea dictumst. Morbi rhoncus quis elit sed pulvinar. Suspendisse maximus et quam sit amet aliquam.</p>
                <p>Integer velit leo, faucibus vel ante nec, euismod accumsan arcu. Maecenas porttitor auctor justo, quis bibendum est malesuada in.</p>
            </div>
        </div>
        <div>
        <div class="encuesta">
            <h2>Encuesta</h2>
            <hr>
            <div>
                <p>¿Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut iaculis diam id ipsum condimentum euismod.?</p>
                <div class="radio">
                    <label><input type="radio" name="respuesta"> Respuesta 1</label>
                    <br>
                    <label><input type="radio" name="respuesta"> Respuesta 2</label>
                    <br>
                    <label><input type="radio" name="respuesta"> Respuesta 3</label>
                    <br>
                    <label><input type="radio" name="respuesta"> Respuesta 4</label>
                    <br>
                    <label><input type="radio" name="respuesta"> Respuesta 5</label>
                    <br>
                </div>
                <button type="submit" class="btn btn-primary" role="button">Guardar respuesta</button>
            </div>
        </div>
        <div>
            <h2>Categorías</h2>
            <hr>
            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="#">Categoria 1</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">Categoria 2</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">Categoria 3</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">Categoria 4</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">Categoria 5</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h2>Tags</h2>
            <hr>
            <div>
                <span><a style="font-size: 15px;" href="#">tag 1</a></span>
                <span><a style="font-size: 13px;" href="#">tag 1</a></span>
                <span><a style="font-size: 20px;" href="#">tag 1</a></span>
                <span><a style="font-size: 25px;" href="#">tag 1</a></span>
                <span><a style="font-size: 13px;" href="#">tag 1</a></span>
            </div>
        </div>
    </div>
</div>
